{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "react/jsx-filename-extension": "off"
  },

  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
